<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ABC Electronics</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ getCurrentPageName() }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/inventory" routerLinkActive="active">Inventory</a></li>
            <li><a class="dropdown-item" routerLink="/customer" routerLinkActive="active">Customer</a></li>
          </ul>
        </li>
      </ul>      <!-- Search functionality moved to individual components -->
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<app-toast></app-toast>